
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@400;900&display=swap');

@font-face {
    font-family: open-sans-extrabold;
    src: url('../assets/fonts/OpenSans-ExtraBold.ttf');
}

@media (min-width: 600px) {
    nav {
      flex-wrap: wrap;
    }
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f7f3f1;
    
}

header{
    background-color: #1b4472;
    
}

nav {
    display: inline-flex;
    width: 1343px;
    height: 180px;    
}


.form-nav-index{
    list-style: none;
    position: relative;
    left: 550px;
    bottom: 70px
    

}


.avatar img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
    left: 1100px;
    list-style: none;

}

#menu{
    font-family: open-sans-extrabold;
    position: relative;
    top: 100px;
    left: 9px;
    
    
}

#menu li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 50px;
    background-color:#028484;
    list-style: none;

}

nav{
    height: 100px;
    
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
}

.navbar-nav a{
    background-color: #028484;
    border-radius: 50px;
}
#navbarNavAltMarkup{
    display: flex;
    justify-content: space-between;
    
}

.column3{
    border-radius: 50px;
    border-color: #028484;
}

.navbar-expand-lg{
    height: 50px;
    
}

.navbar-expand-lg .navbar-nav{
    display: flex;
    justify-content: space-between;
    
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
}

#reportero{
    margin-right: 50%;
}

.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1299px;
}


a {
    text-decoration: none;
    color: #f9ffff;
    font-family: open-sans-extrabold;
    font-size: 20px;
}







/*----main---*/

main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}



.carousel-inner{
    margin-top: 2%;
    text-align: center;
}

.dolar{
    align-items: center;
    margin: 20px;
    display: inline-flex;
    margin-top: 5%;
   
}


.dolar h3{
    text-align: left;
    margin: 20px;
}

.dolar p{
    text-align: right;
}


.kun{
    align-items: center;
    margin: 20px;
    display: inline-flex;
    
}

.kun h3{
    text-align: left;
    margin: 20px;
}

.roberto{
    align-items: center;
    margin: 20px;
    display: flex;
}


.roberto h3{
    text-align: left;
    margin: 20px;
}

.moumental{
    align-items: center;
    margin-bottom: 5%;
   
}

.monumental img{
    width: 650px;
    height: 468px;
}


.dolar h3{
    text-align: left;
    margin: 20px;
}

.dolar p{
    text-align: right;
}



.cfk img{
    width: 650px;
    height: 390px;
}


.paso img{
    width: 650px;
    height: 368px;
}

/*--footer--*/ 

footer ol{
    display: inline-flex;
    position: relative;
    left: 200px;
    
}

.form{
    margin: 10px;
    padding: 10%;
    list-style: none;
    
}

.iframe{
    margin: 5px;
    padding: 5%;
    padding-left: 30%;
    list-style: none;
}

footer ul{
    text-align: center;
}
footer ul li{
    padding: 10px;
    margin: 10px;
    display: inline;
    
}

.whatsapp img{
    width: 50px;
    height: 50px;
}

.twitter img{
    width: 50px;
    height: 50px;
}

.linkedin img{
    width: 50px;
    height: 50px;
}



/*--MAIN*/
#nosotros{
    text-align: center;
}

/*---FOOTER---*/



.iframe-nosotros{
    text-align: center;
    position: relative;
    left: 250px;
    list-style: none;
}

.iframe-nosotros h4{
    padding-top: 30px;
}



/*----CONTACTOS*/

#contactanos{
    text-align: center;
}

#contactanos h1{
    padding-top: 10%;
}

#contactanos p{
    padding-top: 1%;
}

main ol{
    display: inline-flex;
}


main .suscribite-contactos{
    padding-top: 2%;
}

.form-contactos{
    margin: 10px;
    padding-left: 10%;
}

.iframe-contactos{
    margin: 5px;
    padding: 5%;
    padding-left: 30%;
    list-style: none;
    text-align: center;
}

.encasoque{
    text-align: center;
}

.mensaje{
    text-align: center;

}
