@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@400;900&display=swap');

@font-face {
    font-family: open-sans-extrabold;
    src: url('../assets/fonts/OpenSans-ExtraBold.ttf');
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f7f3f1;

}

header {
    background-color: #1b4472;

}

nav {
    display: inline-flex;
    width: 1343px;
    height: 180px;
}


.form-nav-index {
    list-style: none;
    position: relative;
    left: 550px;
    bottom: 70px
}


.avatar img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
    left: 1100px;
    list-style: none;

}

@media only screen and (max-width: 768px) {

    /* For mobile phones:*/
    [class*="me-2"] {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
 
} 





@media only screen and (max-width: 768px) {

    /* For mobile phones:*/
    [class*="navbar"] {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: auto;
        border-color: none;
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones:*/
    [class*="column"] {
        width: 100%;
        border-radius: 0px;
    }
}


.navbar {
    display: flex;
    flex-wrap: nowrap;
}

.navbar-nav a {
    background-color: #028484;
    border-radius: 50px;
}

#navbarNavAltMarkup {
    display: flex;
    justify-content: space-between;

}

.column3 {
    border-radius: 50px;
    border-color: #028484;
}

.navbar-expand-lg {
    height: 50px;

}

.navbar-expand-lg .navbar-nav {
    display: flex;
    justify-content: space-between;

}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
}

#reportero {
    margin-right: 50%;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1299px;
}


a {
    text-decoration: none;
    color: #f9ffff;
    font-family: open-sans-extrabold;
    font-size: 20px;
}


/*----main---*/

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="carousel-item"] {
        width: 560px;
        height: 315px;
    }
}

main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}



.carousel-inner {
    margin-top: 2%;
    text-align: center;
}



.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


.row {
    display: flex;
    justify-content: space-between;
}

.col-1 {
    /* align-items: center; */
    margin: 20px;
    margin-top: 5%;

}


.col-2 {
    align-items: center;
    margin: 20px;

}


.col-3 {
    align-items: center;
    margin: 20px;

}



.col-4 {
    align-items: center;
    margin-bottom: 5%;

}

.col-4 img {
    width: 365px;
    height: auto;
}


.col-5 img {
    width: 365px;
    height: auto;
}


.col-6 img {
    width: 365px;
    height: auto;
}



/*--footer--*/

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="row-1"] {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="columna-2"] {
        width: 100%;
        height: px;
    }
}



footer h3 {
    text-align: center;
}

.row-1 {
    display: flex;
    justify-content: space-around;
}

footer ul {
    text-align: center;
    background-color: #1b4472;
    margin: 0%;
    padding: 0%;
}

footer ul li {
    padding: 10px;
    margin: 10px;
    display: inline;

}

.whatsapp img {
    width: 50px;
    height: 50px;
}

.twitter img {
    width: 50px;
    height: 50px;
}

.linkedin img {
    width: 50px;
    height: 50px;
}



/*--MAIN*/
#nosotros {
    text-align: center;
}

/*---FOOTER---*/




.iframe-nosotros {
    text-align: center;
    position: relative;
    left: 250px;
    list-style: none;
}

.iframe-nosotros h4 {
    padding-top: 30px;
}



/*----CONTACTOS*/

#contactanos {
    text-align: center;
}

#contactanos h1 {
    padding-top: 10%;
}

#contactanos p {
    padding-top: 1%;
}

main ol {
    display: inline-flex;
}


main .suscribite-contactos {
    padding-top: 2%;
}

.form-contactos {
    margin: 10px;
    padding-left: 10%;
}

.iframe-contactos {
    margin: 5px;
    padding: 5%;
    padding-left: 30%;
    list-style: none;
    text-align: center;
}

.encasoque {
    text-align: center;
}

.mensaje {
    text-align: center;

}

/*elmundo*/

.col-md-auto img{
    width: 435px;
    height: auto;
}

.col-lg-3 img{
    width: 300px;
    height: auto;

}


.row-3 {
    display: flex;
    justify-content: space-between;
}

.row-3 div img{
    width: 300px;
    height: auto;

}

.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
 }

.col-lg-2 img{
    width: 198px;
    height: auto;

}

.row-3 div {
    width: 300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-3 div img{
    width: 300px;
    height: auto;
    
    
}

.row-3 div p{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-between;
    
}